.gallery {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.photo-card {
  width: 400px;

  text-decoration: none;
  color: #fff;
  img {
    display: block;
    height: 250px;

    object-fit: cover;
  }

  .icon {
    display: inline-block;
    width: 10px;
    height: 10px;

    stroke: #fff;
    fill: #fff;
  }
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  height: 50px;

  background-color: rgba(191, 203, 199, 0.11);
}

table th,
table td {
  text-align: center;
}
