.gallery {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.photo-card {
  width: 400px;

  text-decoration: none;
  color: #fff;
  transition: transform 200ms linear;

  img {
    display: block;
    height: 250px;

    object-fit: cover;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  height: 50px;

  background-color: rgba(191, 203, 199, 0.11);
}

.info-item {
  width: 100%;
  table-layout: fixed;
}

.gallery {
  transform: translateY(50px);
  padding-bottom: 20px;
}
table th,
table td {
  text-align: center;
  font-size: 15px;
  font-family: 'Indie Flower', cursive;
}
