.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  width: 100vw;
  height: 50px;

  background-color: rgba(23, 122, 89, 0.604);

  input {
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: 20px;

    &::placeholder {
      color: #fff;
    }
  }
}
